* {
  margin: 0;
  padding: 0;
}

body {
  // background-attachment: fixed; //固定背景图片不滚动
  // background-image: url(../../../assets/bg_main.jpg);
  // background-size: 100% 100%;
  // background-repeat: no-repeat;
  // background-size: cover; //放大不模糊
  position: relative;
  background-color: #F1F2F3;
}

.pagebody {
  position: relative;
  .topHeight{
    margin: auto;
    height: 1rem;
  }

}
