* {
  margin: 0;
  padding: 0;
}

body {
  background-attachment: fixed; //固定背景图片不滚动
  background-image: url(../../../assets/bg_main.jpg);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-size: cover; //放大不模糊
  position: relative;
}

//点击页面显示特效  待完善 问题：仅部分区域有效
// .clickphoto {
//   position       : absolute;
//   background     : url(../../../assets/img1.jpg);
//   pointer-events : none;
//   width          : 100px;
//   height         : 100px;
//   background-size: cover;
//   animation      : animate 2s linear infinite;
// }

// @keyframes animate {
//   0% {
//     opacity: 1;
//     // filter : hue-rotate(0deg);
//     transform: translate(-50%, -50%);
//   }
//   100% {
//     opacity: 0;
//     // filter : hue-rotate(360deg);
//     transform: translate(-50%, -500%);
//   }
// }

.pagebody {
  position: relative;

  .HomePageOne {
    height: 100vh;
    width: 100vw;
    margin: auto;
    // background-color: aqua;
  }

  .HomePageTwo {
    height: 100vh;
    width: 100vw;
    margin: auto;
    // background-color: yellowgreen;
  }
}
