@font-face {
  font-family: "iconfont"; /* Project id 4076776 */
  /* Color fonts */
  src: 
       url('iconfont.woff2?t=1684676443094') format('woff2'),
       url('iconfont.woff?t=1684676443094') format('woff'),
       url('iconfont.ttf?t=1684676443094') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-hongseyuan:before {
  content: "\e618";
}

.icon-daka:before {
  content: "\e601";
}

.icon-baohudi_jiangshuiliang:before {
  content: "\e646";
}

.icon-nianleijijiangshuiliang:before {
  content: "\e714";
}

.icon-kongqizhiliang:before {
  content: "\e629";
}

.icon-kongqizhiliang1:before {
  content: "\e63e";
}

.icon-a-iconkongqizhiliang:before {
  content: "\e614";
}

.icon-kongqizhiliang2:before {
  content: "\e600";
}

.icon-yueliang:before {
  content: "\e638";
}

.icon-sanjiaoxia:before {
  content: "\e77d";
}

.icon-sanjiao-shang:before {
  content: "\e6f5";
}

.icon-iconset0480:before {
  content: "\e767";
}

.icon-kongqiqingxin:before {
  content: "\e697";
}

.icon-gaofeng:before {
  content: "\e666";
}

.icon-maozi:before {
  content: "\e657";
}

.icon-qiehuan:before {
  content: "\e606";
}

.icon-yanjing-:before {
  content: "\e65c";
}

.icon-dayu:before {
  content: "\e6e6";
}

.icon-xiaoyu:before {
  content: "\e6e7";
}

.icon-zhongyu:before {
  content: "\e6e8";
}

.icon-icon-test:before {
  content: "\e627";
}

.icon-wenshidu:before {
  content: "\e620";
}

.icon-UVB:before {
  content: "\e950";
}

.icon-yibiaopan:before {
  content: "\e89f";
}

.icon-wenshidu1:before {
  content: "\e644";
}

.icon-a-PM25-2-Outlined:before {
  content: "\e63d";
}

.icon-icon_qingtian:before {
  content: "\e608";
}

.icon-qingtian:before {
  content: "\e6bf";
}

.icon-yintian:before {
  content: "\e6c0";
}

.icon-sanjiaoxing:before {
  content: "\e6bd";
}

